  /* CSS declarations go here */

  /* general */

  body {
    font-family: sans-serif;
    background-color: #315481;
    background-attachment: fixed;
    background-color: #999999;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;
    outline: 0;

    font-size: 14px;
  }

  h3 {
    color: #999999;
  }

  form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
  }

  button:focus {
    outline: 0;
  }

  button {
    outline: 0;
  }

  .group:after {
    content: "";
    clear: both;
    display: block;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
  }

  header {
    background: #d2edf4;
    /*background-image: linear-gradient(to bottom, #000000, #eeeeee 100%);*/
    background-color: #000000;
    padding: 20px 15px 15px 15px;
    position: relative;
  }

  ul {
    margin: 0;
    padding: 0;
    background: white;
  }

  .list-item {
    margin-left: 15px;
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
  }

  .list-item .text {
    margin-left: 10px;
  }

  /* voting */

  .votes {
    margin: 0 5px;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .voted {
    color: orange;
  }

  .vote-marker {
    padding: 5px;
    cursor: pointer;
  }

  /* task formatting */

  .voting-wrapper {
    float: left;
    text-align: center;
    width: 25px;
    display: inline-block;
  }

  .content-wrapper {
    width: 500px;
    margin: 35px 0 0 15px;
    float: left;
  }

  /* task actions -- general */

  .task-action {
    margin: 0 10px;
    display: block;
  }

  .task-actions {
    float: right;
  }

    /* new task */

    .new-task input {
      margin: 0 0 15px 15px;
      border: 1px solid #000000;
      box-sizing: border-box;
      padding: 15px 5px;
      background: transparent;
      padding-right: 80px;
      font-size: 1em;
    }

    .new-task input:focus{
      outline: 0;
    }

    /* delete task */

    .delete {
      margin-top: 2px;
      float: right;
      cursor: pointer;
      transition: color 0.2s;
    }

    .delete:hover {
      color: #777777;
    }


    /* toggle task comments */

    .toggle-comments {
      float: right;
      border: none;
      cursor: pointer;
      transition: color 0.2s;
    }

    .toggle-comments:hover {
      color: #777777
    }

    /* completed tasks */

    .toggle-completion {
      float: right;
    }

    li.checked {
      color: #888;
    }

    li.checked .text {
      text-decoration: line-through;
    }

  /* private tasks */

  li.private {
    background: #eee;
    border-color: #ddd;
  }

  .set-private {
    width: 20px;
  }

  /* toggle completed tasks */

  header .hide-completed {
    float: right;
  }

  .checkbox-span {
    text-align: center;
    width: 162px;
    border: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 5px;
    margin: 0 0 0 15px;
    cursor: pointer;
    background: #bbbbbb;
    color: #222222;
    transition: background-color 0.2s;
  }

  .checkbox-span:hover {
    background: #888888;
    color: #000000;
  }

  .checkbox-input {
    display: none;
  }

  /* dropdown menu */

  .dropdown-item {
    margin: 5px 0 5px 5px;
    cursor: pointer;
  }

  .dropdown-item:hover {
    color: #777777;
  }

  .dropdown-toggle {
    outline: 0;
  }

  .dropdown-toggle:focus {
    outline: 0;
  }

  button#dropdownMenu1 {
    position: relative;
    z-index: 2;
  }

  /* comment items */

  li.comment-list-item {
    margin-left: 0;
  }

  /* media */

  @media (max-width: 600px) {
    li {
      padding: 12px 15px;
    }

    .search {
      width: 150px;
      clear: both;
    }

    .new-task input {
      padding-bottom: 5px;
    }
  }


  /* login */

  #login-buttons {
    display: block;
  }

  .login-link-text {
    float: right;
    margin: 15px;
    padding: 5px;
    border: 1px solid #000000;
  }

  #login-dropdown-list {
    top: 15px;
    left: 325px;
  }

  a.login-close-text {
    float: right;
  }
