<head>
  <title>Absurd</title>
</head>

<body>
  <div  class="container"
        ng-app="simple-todos"
        ng-controller="TodosAppCtrl">

    <header>
      <h1>Absurd</h1>
      <h3>Tasks to Complete: {{ incompleteCount() }}</h3>
    </header>

    <label class="hideCompleted">
      <input type="checkbox" ng-model="hideCompleted"/>
      Hide Completed Tasks
    </label>

    <form class="new-task" ng-submit="addTask(newTask);  newTask='';">
      <input type="text" ng-model="newTask" placeholder="New Task" name="text"/>
    </form>

    <ul>
      <li ng-repeat="task in tasks" ng-class="{ 'checked': task.checked }">
        <button class="delete" ng-click="tasks.remove(task)">&times;</button>
        <input type="checkbox" ng-model="task.checked" class="toggle-checked">
        <span class="text">{{task.text}}</span>
      </li>
    </ul>
  </div>


</body>
