<head>
  <title>Absurd</title>
</head>

<body>
  <div  class="container"
        ng-app="simple-todos"
        ng-controller="TodosAppCtrl">

    <header>
      <h1>Absurd</h1>
      <h3>Tasks to Complete: {{ incompleteCount() }}</h3>
    </header>

    <br>
    <label class="hideCompleted">
      <input type="checkbox" ng-model="hideCompleted"/>
      Hide Completed Tasks
    </label>

    <br><br>
    <login-buttons><br></login-buttons>

    <form class="new-task"
          ng-submit="addTask(newTask);  newTask='';"
          ng-show="$root.currentUser">
      <input type="text" ng-model="newTask" placeholder="New Task" name="text"/>
    </form>

    <ul>
      <li ng-repeat="task in tasks" ng-class="{ 'checked': task.checked }">
        <button class="delete" ng-click="deleteTask(task)"
                ng-show="task.username === $root.currentUser.username">
          &times;
        </button>
        <input type="checkbox" ng-checked="task.checked"
               ng-click="setChecked(task)" class="toggle-checked"
               ng-show="task.username === $root.currentUser.username">
        <span class="text">
          <strong>{{ task.username }}</strong> - {{task.text}}
        </span>
      </li>
    </ul>
  </div>
</body>
