<head>
  <title>Absurd</title>
</head>

<body>
  <div  class="container"
        ng-app="simple-todos"
        ng-controller="TodosAppCtrl">

    <header>
      <h1>Absurd</h1>
      <br>
      <h3>Tasks to Complete: {{ incompleteCount() }}</h3>
    </header>

    <br>
    <label class="checkbox-label" for="toggle" class="hideCompleted">
      <input class="checkbox-input" id="toggle" type="checkbox" ng-model="hideCompleted"/>
      <span ng-hide="hideCompleted" class="checkbox-span">Hide Completed Tasks</span>
      <span ng-show="hideCompleted" class="checkbox-span">Show Completed Tasks</span>
    </label>

    <br><br>
    <login-buttons><br></login-buttons>

    <form class="new-task"
          ng-submit="addTask(newTask);  newTask='';"
          ng-show="$root.currentUser">
      <input class="new-task-input" type="text" ng-model="newTask" placeholder=" New Task" name="text"/>
    </form>

    <ul>
      <li ng-repeat="task in tasks" ng-class="{ 'checked': task.checked }">
        <button class="delete" ng-click="deleteTask(task)"
                ng-show="task.username === $root.currentUser.username">
          &times;
        </button>
        <input type="checkbox" ng-checked="task.checked"
               ng-click="setChecked(task)" class="toggle-checked"
               ng-show="task.username === $root.currentUser.username">
        <span class="text">
          <strong>{{ task.username }}</strong> - {{task.text}}
        </span>
        <button ng-click="toggleComments(task)" class="toggle-comments">{{ task.showComments ? 'Hide' : 'Show' }} Comments</button>

        <div class="comments" ng-show="task.showComments">
          <form class="new-comment"
                ng-submit="addComment(task, newComment); newComment=''">
            <input class="new-comment-input" ng-model="newComment" type="text"
                   placeholder=" New Comment" name="text"/>
          </form>
          <ul>
            <li ng-repeat="comment in task.comments">
              {{ comment.username }} - {{ comment.text }}
              <button class="delete" ng-click="deleteComment(task, comment)"
                      ng-show="comment.username === $root.currentUser.username">
                &times;
              </button>
            </li>
          </ul>
        </div>

      </li>
    </ul>
  </div>
</body>
